#: Font
font_family FiraCode Nerd Font
disable_ligatures never

#: Require picom launched
background_opacity {{ colors.background_opacity }}
background {{ colors.background }}

#: Avoid to update a lot
sync_to_monitor yes

#: Disable close confirmation
confirm_os_window_close 0

#: Shell configuration
#: shell tmux