* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
{% for monitor in monitors -%}
{% if loop.index0 != 0 %}, {% endif -%}
.bar{{ loop.index0 }}
{%- endfor %} {
  background-color: {{ colors.background }};
  color: {{ colors.on_background }};
  border-radius: 10px;
  font-family: '{{ font }}';

  & > .bar_content {
    padding: 10px 15px;
  }
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: {{ colors.on_primary }};
}

.metric scale trough {
  all: unset;
  background-color: {{ colors.on_primary }};
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;

  & highlight {
    all: unset;
    background-color: {{ colors.primary }};
    color: #000000;
    border-radius: 10px;
  }
}


.workspaces > .workspace {
  border-radius: 999px;

  &.current {
    background-color: {{ colors.primary }};
  }

  &.used {
    background-color: {{ colors.on_background }};
  }

  &.unused {
    border: 1px solid {{ colors.on_background }};
  }
}